@font-face {
  font-family: 'overpass';
  src: url('./overpass-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'overpass';
  src: url('./overpass-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
